
                <!-- {%if form.email.errors%}
                    {{form.email(placeholder="Email", class="form-control is-invalid")}}
                    {%for error in form.email.errors%}
                        <div class="invalid-feedback mb-2">
                            <span>{{error}}</span>
                        </div>
                    {%endfor%}
                {%else%}
                    {{form.email(placeholder="Email", class="form-control mb-2")}}
                {%endif%}

                {%if form.number.errors%}
                    {{form.number(placeholder="Phone number", class="form-control is-invalid")}}
                    {%for error in form.number.errors%}
                        <div class="invalid-feedback mb-2">
                            <span>{{error}}</span>
                        </div>
                    {%endfor%}
                {%else%}
                    {{form.number(placeholder="Phone number", class="form-control mb-2")}}
                {%endif%}
                
                {%if form.state.errors%}
                    {{form.state(placeholder="State of Residence", class="form-control is-invalid")}}
                    {%for error in form.state.errors%}
                        <div class="invalid-feedback mb-2">
                            <span>{{error}}</span>
                        </div>
                    {%endfor%}
                {%else%}
                    {{form.state(placeholder="State of Residence", class="form-control mb-2")}}
                {%endif%}
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            {%if form.password.errors%}
                                {{form.password(placeholder="Password", class="form-control is-invalid")}}
                                {%for error in form.password.errors%}
                                    <div class="invalid-feedback">
                                        <span>{{error}}</span>
                                    </div>
                                {%endfor%}
                            {%else%}
                                {{form.password(placeholder="Password", class="form-control")}}
                            {%endif%}
                            <small class="form-text text-muted mb-4">
                                At least 8 characters (case sensitive)
                            </small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            {%if form.confirmPassword.errors%}
                                {{form.confirmPassword(placeholder="Confirm password", class="form-control is-invalid")}}
                                {%for error in form.confirmPassword.errors%}
                                    <div class="invalid-feedback">
                                        <span>{{error}}</span>
                                    </div>
                                {%endfor%}
                            {%else%}
                                {{form.confirmPassword(placeholder="Confirm Password", class="form-control")}}
                            {%endif%}
                            <small class="form-text text-muted mb-4">
                                At least 8 characters (case sensitive)
                            </small>
                        </div>
                    </div>
                </div>
                <div class="text-left mt-2"> 
                    <div class="float-left text-muted"><p>Register as a &nbsp;</p></div>
                    {% for subfield in form.role%}
                    <tr class="">
                        <td class="form-check-input">{{ subfield }}</td>
                        <td class="form-check-label">{{ subfield.label }}</td>
                    </tr>
                    {% endfor %}
                </div>

                <div class="text-left mt-4 mb-4">
                    <div class="text-muted"><p>Fields you are into? &nbsp;</p></div>
                    <div class="form-group">
                        {% for choice in form.fields %}
                        <div class="form-check-inline">
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                        </div>
                        {% endfor %}    
                    </div>
                </div>
               <input type="checkbox" name="" id="accept-terms" class="form-check-input" required>
                <label for="accept-terms" class="form-check-label small">Accept Terms &amp; Conditions</label>
                {{form.submit(class="btn btn-success my-4 btn-block", type="submit")}}
                <a href="{{url_for('login')}}" class="btn btn-dark my-4 btn-block" type="submit">Login</a>
            </div> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <form class="text-center border border-light p-5" action="#!">        
            <p class="h4 mb-4">Login</p>
            <div class="container">
                <input type="email" class="form-control mb-2" placeholder="Email">
                <input type="password" class="form-control" placeholder="Password">
                    <small class="form-text text-muted mb-4">
                        At least 8 characters (case sensitive)
                    </small>
                <a href="profile.html" class="btn btn-success my-4 btn-block" type="submit">Login</a>
                <a href="teacher_signup.html" class="btn btn-dark my-4 btn-block" type="submit">Signup</a>
            </div>
            <hr>
        </form>
    </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>