{%extends "layout.html"%}
{%block title%}LogIn{%endblock%}
{%block navlist%}
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a href="login.html" class="nav-link">Login</a>
    </li>
    <li class="nav-item">
        <a href="signup.html" class="nav-link">SigUp</a>
    </li>
    <li class="nav-item">
        <a id="#why" class="nav-link">About</a>
    </li>
</ul>
{%endblock%}
{%block nav%}{{super()}}{%endblock%}

{%block content%}
    <div class="jumbotron">
        {%with messages = get_flashed_messages(with_categories=true)%}
        {%if messages%}
            {%for category, message in messages%}
            <div class="alert alert-{{category}}">
                {{message}}
            </div>
            {%endfor%}
        {%endif%}
        {%endwith%}    
        <p class="h4 mb-4 text-center">Log in</p>
            <form class="text-center border border-light p-5" action="" method="POST">
                {{form.hidden_tag()}}
                <div class="container">
                    {%if form.email.errors%}
                        {{form.email(placeholder="Email", class="form-control is-invalid")}}
                        {%for error in form.email.errors%}
                            <div class="invalid-feedback mb-2">
                                <span>{{error}}</span>
                            </div>
                        {%endfor%}
                    {%else%}
                            {{form.email(placeholder="Email", class="form-control mb-2")}}
                    {%endif%}

                    {%if form.password.errors%}
                        {{form.password(placeholder="Password", class="form-control is-invalid")}}
                        {%for error in form.password.errors%}
                            <div class="invalid-feedback">
                                <span>{{error}}</span>
                            </div>
                        {%endfor%}
                    {%else%}
                        {{form.password(placeholder="Password", class="form-control mb-2")}}
                    {%endif%}
                    
                    <small class="form-text text-muted mb-4">
                        At least 8 characters (case sensitive)
                    </small>
                    
                    <div class="form-check mb-2 text-left">
                        {{form.remember(class="form-check-input")}}
                        {{form.remember.label(class="form-check-label")}}

                    </div>
                    <small class="text-muted ml-2">
                        <a href="{{url_for('reset_password')}}" class="text-success">Forgot Password?</a>
                    </small>
                                   
                    {{form.submit(class="btn btn-success my-4 btn-block", type="submit")}}

                    <a href="{{url_for('signup')}}" class="btn btn-dark my-4 btn-block" type="submit">Signup</a>
                </div>
            </form>
            <hr>
    </div>
{%endblock%}
        