{%extends "layout.html"%}
{%block title%}Home{%endblock%}
{%block navlist%}
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a href="{{url_for('account')}}" class="nav-link">Profile</a>
    </li>
    <li class="nav-item">
        <a href="noti.html" class="nav-link">Notifications</a>
    </li>
    <li class="nav-item">
        <a href="index.html" class="nav-link">Logout</a>
    </li>
</ul>
{%endblock%}
{%block nav%}{{super()}}{%endblock%}
{%block content%}
<div class="container-fluid bg-light p-4">
    <div class="container"> 
        <div class="">
                <div class="text-left">
                    <a href="" class="h6 text-success">Back</a>
                </div>
                <div class="text-center">
                    <h6 href="" class="">Victor's Post</a>
                </div>
            
            
        </div>
    
    <div class="my-4">            
        <div class="card shadow border-success p-2">
            <div class="row">
                <div class="pull-left ml-4 mr-2">
                    <img src="sam2.JPG" alt="" class="rounded-circle" width="50px" height="50px">
                </div>    
                <div class="pull-left">
                    <a href="userprofile.html" class="text-success h6">Victor</a><br>
                    <small class="text-muted">3 days ago</small>
                </div>                            
            </div>
            <div class="text-left p-2">
                We are not encouraging students to miss lectures as we are trying to provide helpful materials, rather you can use as a helping guide, adding to what you know already
                We connect teachers and students together. All materials and tutorials are from our teachers.
            </div>
            <div class="clearfix">
                <span class="float-left small"><a href="#" class=""><i class="fa fa-comments-o"></i>0 comments</a></span>        
                <span class="small"><a href="#" class=""><i class="fa fa-comments-o"></i>0 likes</a></span>
                <a href="" class="btn btn-danger float-right small btn-sm mx-2" data-toggle="modal" data-target="#modal">Delete Post</a>
                <div class="bg-light mt-4 ">
                    <h6 class="">0 comments</h6>    
                    <textarea name="" id="" cols="100" rows="2" placeholder="Ask your questions" class="form-control"></textarea>
                    <a href="suggview.html" class="btn btn-success btn-sm small">Comment</a>
                    <div class="bg-secondary mt-4">
                        ssjssssssssssssssssmxmxkwoiw
                    </div>
               </div>
            </div>
        </div>
        
        </div> 
    </div>
    </div>
    <div class="modal fade p-4" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Please Confirm</h6>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You sure you want to delete this post??</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">                    
                    </form>
                </div>
            </div>
        </div>
    </div> 
{%endblock%}

